@import "tailwindcss";

@font-face {
  font-family: 'HarmonyOS Sans';
  src: url('/HarmonyOS_Sans/HarmonyOS_Sans_Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HarmonyOS Sans';
  src: url('/HarmonyOS_Sans/HarmonyOS_Sans_Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HarmonyOS Sans';
  src: url('/HarmonyOS_Sans/HarmonyOS_Sans_Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HarmonyOS Sans';
  src: url('/HarmonyOS_Sans/HarmonyOS_Sans_Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HarmonyOS Sans';
  src: url('/HarmonyOS_Sans/HarmonyOS_Sans_Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HarmonyOS Sans';
  src: url('/HarmonyOS_Sans/HarmonyOS_Sans_Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "HarmonyOS Sans", ui-sans-serif, system-ui, sans-serif;
}

@variant dark (&:where(.dark, .dark *));
